In [3]:
import pandas as pd 

columns = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class_value']
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/car/car.data', names=columns)

df.head()

  buying  maint doors persons lug_boot safety class_value
0  vhigh  vhigh     2       2    small    low       unacc
1  vhigh  vhigh     2       2    small    med       unacc
2  vhigh  vhigh     2       2    small   high       unacc
3  vhigh  vhigh     2       2      med    low       unacc
4  vhigh  vhigh     2       2      med    med       unacc

In [4]:
df.describe()

       buying maint  doors persons lug_boot safety class_value
count    1728  1728   1728    1728     1728   1728        1728
unique      4     4      4       3        3      3           4
top       low   low  5more    more      big    low       unacc
freq      432   432    432     576      576    576        1210

In [8]:
df['doors'].isnull().sum()

0

In [10]:
def doors_to_int(door):
    return int(door.strip().strip('more'))

df['doors'] = df['doors'].apply(doors_to_int)
print(df['doors'][0])
print(type(df['doors'][0]))

2
<class 'numpy.int64'>

In [14]:
def persons_to_int(person):
    if person == 'more':
        return 6
    else:
        return int(person)

df['persons'] = df['persons'].apply(persons_to_int)
print(df['persons'][0])
print(type(df['persons'][0]))

2
<class 'numpy.int64'>

In [16]:
df['buying'].value_counts().sort_values(ascending=True)

low      432
med      432
high     432
vhigh    432
Name: buying, dtype: int64

In [17]:
df['class_value'].value_counts().sort_values(ascending=True)

vgood      65
good       69
acc       384
unacc    1210
Name: class_value, dtype: int64